[submodule "bobo_engine/external/GLFW"]
	path = bobo_engine/external/GLFW
	url = https://github.com/MoBaydoun/glfw
[submodule "bobo_engine/external/spdlog"]
	path = bobo_engine/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "bobo_engine/external/glm"]
	path = bobo_engine/external/glm
	url = https://github.com/g-truc/glm
